body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1cb1b6;
    margin: 0;
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-container {
    position: relative;
    width: 700px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.slider-container:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slider img.active {
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}
.controls button:hover{
    color: #007bff;
}